[submodule "V/dependencies/glad"]
    path = V/dependencies/glad
    url = https://github.com/Dav1dde/glad
[submodule "V/dependencies/glfw"]
    path = V/dependencies/glfw
    url = https://github.com/glfw/glfw
[submodule "V/dependencies/glm"]
    path = V/dependencies/glm
    url = https://github.com/g-truc/glm
[submodule "V/dependencies/json"]
    path = V/dependencies/json
    url = https://github.com/nlohmann/json
[submodule "V/dependencies/stb"]
    path = V/dependencies/stb
    url = https://github.com/nothings/stb/blob/master/stb_image.h

